#carousel-example-generic {
	height: 480px;
    width: 848px;
    margin:auto;
}

.carouselTitle {
	font-size: 64px;
	font-weight: 100;
	color: white;
	text-shadow: 0 1px 2px #000;
	position: absolute;
	bottom: 60px;
	left: 80px;
}

#carousel-showcase {
	height: 280px;
    width: 300px;
    margin:auto;
}

.carouselTitle-2 {
	font-size: 24px;
	font-weight: 100;
	color: white;
	text-shadow: 0 1px 2px #000;
	position: absolute;
	bottom: 30px;
	left: 40px;
}
