/* ---------------------- 
Stylesheet Guide
-------------------------

FONTS
GENERAL STYLES
PAGE STRUCTURE
GRID
GRID HERO
MASONRY GRID
HEADER
FEATURED IMAGE
MAIN MENU
SOCIAL ICONS
CAROUSEL
PARTNERS
ICON BOXES
ROUNDED LIST
TESTIMONIALS
RESPONSIVE IFRAME
FORMS
FLEX IMAGE WITH CAPTION
OMBRE TABLE
EXPERIENCE
TOOLTIPS
GOOGLE MAP PIN
BLOG
COMMENTS
SIDEBAR
FLICKR FEED
HORIZONTAL MENU
TABS
ACCORDION
FOOTER

*/

/* ================= FONTS ================== */
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-bold-webfont.woff') format('woff'), url('../fonts/raleway-bold-webfont.ttf') format('truetype'), url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular-webfont.woff') format('woff'), url('../fonts/raleway-regular-webfont.ttf') format('truetype'), url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,p,input,textarea {
    font-family: 'ralewayregular';
    font-weight: normal;
    letter-spacing: 0.03em;
    word-spacing: 0.1em;
}
h1,h2,h3,h4,h5,h6,strong,label,.ns_nerveSlider .ns_slideContent div span,.rounded-list span:before,.rounded-list span, .testimonial .testimonial-text p.testimonial-cite,.arrow-button,.toggleMenu,.caption-image figcaption p.caption-title,.nav li,.grid.hero h3,.ombre-table,input[type="submit"],.button,.tooltipster-content,.grid-container .postdate,.sidebar-post-title,.grid-content p.grid-quote-cite,.meta,blockquote p.cite,.caption-quote blockquote p.cite,.horizontal-menu li,.featured-image-date,.grid-container.grid-small .grid-content p a,.resp-tabs-list li,.lg-sub-html {
    font-family: 'ralewaybold';
    font-weight: normal;
    letter-spacing: 0.04em;
    word-spacing: normal;
}
#featured-image-title p,blockquote p,.caption-quote blockquote p, i,em,.testimonial .testimonial-text p,.video-title,.button-box-left p,.grid.grid-button p,.grid.hero p,.experience-title p,.sidebar-post-date,.ns_nerveSlider .ns_slideContent div p span,.grid-content.grid-quote h4,#sub-title {
    font-family: Georgia;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.04em;
    word-spacing: 0.1em;
}
/* ================= GENERAL STYLES ================== */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 30px;
    margin-top: 0px;
    line-height: 1;
}
h1 {
    font-size: 44px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 26px;
}
h6 {
    font-size: 22px;
}
h1.border,h2.border,h3.border,h4.border,h5.border,h6.border {
    position: relative;
    margin-bottom: 50px;
}
h1.border:after,h2.border:after,h3.border:after,h4.border:after,h5.border:after,h6.border:after {
    width: 60px;
    height: 3px;
    position: absolute;
    text-align: center;
    bottom: -15px;
    left: 0;
    margin: 0px;
    z-index: 1;
    content: '';
}
#page-title {
    position: relative;
    padding: 5px 0px 5px 0px;
}
#page-title:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: -5px;
    height: 5px;
}
#page-title h1 {
    margin: 0px;
    padding: 35px 60px;
    display: block;
}
#page-title h1 span {
    display: inline-block;
}
#sub-title {
    position: relative;
    font-size: 22px;
    display: block;
    margin: 0px;
    padding-bottom: 5px;
}
#sub-title div {
    position: relative;
    padding: 20px 60px 20px 92px;
    display: block;
}
#sub-title span.post-date:before {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    text-align: center;
    font-style: normal;
    content: "\f133";
	position: absolute;
    top: 20px;
    left: 60px;
    z-index: 1;
    display: inline-block;
    margin: 0px;
}
p {
    font-size: 16px;
    line-height:1.6;
    margin-bottom: 30px;
    margin-top: 0px;
}
p:last-child {
    margin-bottom: 0px;
}
.show {
    display: block !important;
}
.hide {
    display: none !important;
}
.clear,.clr {
    clear: both;
}
.no-margin {
    margin: 0px !important;
}
strong {
    font-weight: bold;
    word-spacing: 0.15em;
}
label {
    line-height: 1;
    margin-bottom: 10px;
    display: block;
}
blockquote {
    margin: 40px 0px;
    padding: 60px 40px 50px 40px;
    position: relative;
}
blockquote p {
    position: relative;
    font-size: 24px;
    text-indent: 60px;
}
blockquote p:before {
    font-family: 'FontAwesome';
    content: "\f10d";
    speak: none;
    text-indent: 0em;
    text-align: center;
    font-style: normal;
    position: absolute;
    top: -28px;
    left: 0px;
    font-size: 50px;
}
blockquote p.cite {
    font-style: normal;
    line-height:1;
    display: block;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: right;
    font-size: 16px;
}
blockquote p.cite:after,blockquote p.cite:before {
    display: none !important;
}
blockquote.big p {
    font-size: 30px;
    text-indent: 80px;
}
blockquote.big p:before {
    top: -32px;
    font-size: 60px;
}
blockquote.big p.cite {
    font-size: 16px;
}
hr {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    border: none;
    height: 1px;
    display: block;
}
a {
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
span.fa {
    margin-right: 10px;
}
.ombre-icon{
    text-align: center;
    margin-right: 10px;
}
.flex-img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.responsive-img img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    margin-bottom: 30px;
}
/* ================= PAGE STRUCTURE ================== */
#bg-transparent {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
#main-container {
    position: relative;
    width:100%;
    z-index: 9;
    /* If you remove fakeload plugin from the template, you should delete the following line */
    display:none;
}
#page-container {
    position: relative;
    padding: 30px 60px;
}
#main {
    position: relative;
    width: 100%;
    display:block;
    max-width: 1200px;
    margin: 0px auto;
}
/* ================= GRID ================== */
.grid,
.grid.hero,
.unit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid, .grid.hero {
    display: block;
    clear: both;
}
.grid .unit, .grid.hero .unit {
    float: left;
    width: 100%;
    padding: 30px;
}
.grid .unit:first-child, .grid.hero .unit {
    padding-left: 0px;
}
.grid .unit:last-child, .grid.hero .unit {
    padding-right: 0px;
}
.unit .unit:first-child {
    padding-left: 0;
}
.unit .unit:last-child {
    padding-right: 0;
}
.unit .grid:first-child > .unit {
    padding-top: 0;
}
.unit .grid:last-child > .unit {
    padding-bottom: 0;
}
.no-gutters .unit,
.unit.no-gutters {
    padding: 0 !important;
}
.wrap .grid,
.grid.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.grid .whole,
.grid .w-1-1 {
    width: 100%;
}
.grid .half,
.grid .w-1-2 {
    width: 50%;
}
.grid .one-third,
.grid .w-1-3 {
    width: 33.3333%;
}
.grid .two-thirds,
.grid .w-2-3 {
    width: 66.6666%;
}
.grid .one-quarter,
.grid .w-1-4 {
    width: 25%;
}
.grid .three-quarters,
.grid .w-3-4 {
    width: 75%;
}
.grid .one-fifth,
.grid .w-1-5 {
    width: 20%;
}
.grid .two-fifths,
.grid .w-2-5 {
    width: 40%;
}
.grid .three-fifths,
.grid .w-3-5 {
    width: 60%;
}
.grid .four-fifths,
.grid .w-4-5 {
    width: 80%;
}
.grid .golden-small,
.grid .w-g-s {
    width: 38.2716%;
}
.grid .golden-large,
.grid .w-g-l {
    width: 61.7283%;
}
.grid,.grid.hero {
    *zoom: 1;
}
.grid.hero:before,.grid:before,
.grid.hero:after,.grid:after {
    display: table;
    content: "";
    line-height: 0;
}
.grid:after,.grid.hero:after {
    clear: both;
}
.unit.no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}
.grid-border {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -60px;
    margin-right: -60px;
    height: 1px;
    display: block;
    border:none;
}
.ombre-box {
    position: relative;
    padding: 40px;
    z-index: 9;
    margin-bottom: 60px;
}
.ombre-box:last-child {
    margin-bottom: 0px;
}
/* ================= GRID HERO ================== */
.grid.hero {
    margin-top:30px;
    margin-bottom:30px;
    margin-right:-60px;
    margin-left:-60px;
    padding:90px 60px;
}
.grid.hero h1,.grid.hero h2,.grid.hero h3,.grid.hero h4,.grid.hero h5,.grid.hero h6 {
    margin: 0px 0px 5px 0px;
    text-align:center;
    line-height: 1.5;
}
.grid.hero p {
    margin: 0px;
    font-size: 22px;
    text-align:center;
}
.grid.hero a.button {
    font-size: 18px;
    font-style: normal;
    text-align:center;
    display: inline-block;
    margin-top: 25px;
}
.grid.hero .backstretch {
    opacity:0.1;
}
/* ================= MASONRY GRID ================== */
.column {
    float: left;
}
.column .grid-container {
    margin-bottom: 20px;
}
.size-1of1 {
    width: 100%;
}
/* 2 Columns */
.size-1of2 {
    width: 50%;
}
.size-1of2:first-child {
    padding-right: 15px;
}
.size-1of2:last-child {
    padding-left: 15px;
}
.size-1of2 .grid-container {
    margin-bottom: 30px;
}
/* 3 Columns */
.size-1of3 {
    width: 33.333%;
    padding-right: 20px;
}
.size-1of3:first-child {
    padding-left: 0px;
}
.size-1of3:last-child {
    padding-right: 0px;
}
/* 4 Columns */
.size-1of4 {
    width: 25%;
}
.size-1of4 {
    padding-right: 20px;
}
.size-1of4:first-child {
    padding-left: 0px;
}
.size-1of4:last-child {
    padding-right: 0px;
}
/* 5 Columns */
.size-1of5 {
    width: 20%;
}
.size-1of5 {
    padding-right: 20px;
}
.size-1of5:first-child {
    padding-left: 0px;
}
.size-1of5:last-child {
    padding-right: 0px;
}
.masonry-grid {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
#two-columns[data-columns]::before {
    content: '2 .column.size-1of2';
}
#three-columns[data-columns]::before {
    content: '3 .column.size-1of3';
}
#four-columns[data-columns]::before {
    content: '4 .column.size-1of4';
}
#five-columns[data-columns]::before {
    content: '5 .column.size-1of5';
}
/* ================= HEADER ================== */
#header {
    display: block;
    max-width: 1200px;
    margin: 40px auto 0px auto;
}
#header-top {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    padding: 60px;
}
#header-logo {
    float: left;
    height: 80px;
}
#header-logo img {
    height: 100%;
    width: auto;
    max-width: 100%;
    vertical-align: bottom;
}
#header-icons {
    float: right;
}
/* ================= FEATURED IMAGE ================== */
#featured-image-container {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
#featured-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: 9;
}
.img-loading {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 46%;
    top: calc(50% - 6px);
    left: 46%;
    left: calc(50% - 6px);
    border-radius: 12px;
    transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    animation: cssload-loader 1.15s ease-in-out infinite;
    -o-animation: cssload-loader 1.15s ease-in-out infinite;
    -ms-animation: cssload-loader 1.15s ease-in-out infinite;
    -webkit-animation: cssload-loader 1.15s ease-in-out infinite;
    -moz-animation: cssload-loader 1.15s ease-in-out infinite;
    z-index: 1;
}
.img-loading:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -24px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}
.img-loading:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 24px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}
#featured-image-title {
    position: absolute;
    display: block;
    width: auto;
    bottom: 60px;
    left:0px;
}
#featured-image-title h1 {
    padding: 25px 60px;
    margin: 0px;
    display: inline-block;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#featured-image-title p {
    margin: 0px;
    display: block;
    font-size: 22px;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#featured-image-title p span {
    padding: 15px 60px;
    display: inline-block;
}
#featured-image-title p span.featured-image-date {
    padding: 15px 60px 15px 95px;
    font-style: normal;
}
#featured-image-title p span.featured-image-date:before {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    text-align: center;
    font-style: normal;
    content: "\f133";
	position: absolute;
    top: 15px;
    left: 60px;
    z-index: 1;
    display: inline-block;
    margin: 0px;
}
#featured-image-title p.showtitle,#featured-image-title h1.showtitle {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}
/* ================= MAIN MENU  ================== */
#header-menu {
    position: relative;
    pointer-events: none;
    display: inline-block;
    width: 100%;
}
.toggleMenu {
    display: none;
    list-style: none;
    padding: 25px 60px 25px 60px;
    margin: 0px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    font-size: 24px;
    outline: none !important;
    line-height: 1;
}
.toggleMenu:after {
    font-family: 'FontAwesome';
    content: "\f0c9";
    speak: none;
    text-indent: 0em;
    text-align: center;
    font-style: normal;
    position: absolute;
    top: 23px;
    right: 60px;
    -webkit-backface-visibility: hidden;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    display: inline-block;
    font-size: 30px;
}
.toggleMenu:hover {
    text-decoration: none;
}
.menudown {
    -webkit-animation-name: menudown;
    animation-name: menudown;
}
.nav {
    font-size: 20px;
    list-style: none;
    *zoom: 1;
    padding-right: 60px;
    padding-left: 40px;
    margin: 0;
    line-height: 50px;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    position: relative;
    z-index: 99;
}
.nav ul {
    font-size: 16px;
    list-style: none;
    text-transform: none;
    width: 15em;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
}
.nav li {
    position: relative;
    padding: 15px 25px;
}
.nav ul li {
    padding: 15px 25px;
}
.nav a {
    text-decoration: none;
    outline: none !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.nav > li {
    float: left;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
.nav > li.nav-arrow {
    padding-right: 45px;
}
.nav > li.nav-arrow > a:after {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    font-family: 'FontAwesome';
    content: "\f0d7";
    speak: none;
    text-indent: 0em;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 18px;
}
.nav > li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0%;
    right: 100%;
    top: 0px;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.nav > li:hover:before,
.nav > li:focus:before,
.nav > li:active:before {
    left: 0;
    right: 0;
}
.nav > li > a {
    display: block;
}
.nav li ul {
    position: absolute;
    left: -9999px;
    top: 80px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
    padding-top: 0px;
}
.nav li li a {
    display: block;
    position: relative;
    z-index: 100;
}
.nav li li li a {
    z-index: 200;
}
.nav li li:last-child {
    border-bottom: none;
}
/* ================= SOCIAL ICONS ================== */
.social-icons {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
}
.social-icons li {
    float: left;
    display: block;
    margin: 0px 0px 0px 10px;
    padding: 0;
    line-height: 80px;
}
.social-icons li a {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    display: inline-block;
    text-indent: -500em;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    vertical-align: middle;
}
.social-icons li a:before {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.social-icons li a:hover,
.social-icons li a:focus,
.social-icons li a:active {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.footer-social {
    margin-top:2px;
    float: right;
}
.footer-social li {
    margin: 0px 0px 0px 10px;
    line-height: 1;
}
.footer-social li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
}
.footer-social li a:before {
    font-size: 16px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.social-icons-box {
    position:relative;
    display:block;
    padding: 0px 35px;
    vertical-align: bottom;
    margin: -10px 0px 35px 0px;
}
.team-social li {
    margin: 0px 10px 0px 0px;
    line-height: 1;
}
.team-social li a {
    height: 35px;
    width: 35px;
    line-height: 35px;
}
.team-social li a:before {
    font-size: 16px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.model-social {
    margin: 0px;
    float: none;
    width: 100%;
}
.model-social li {
    margin: 5px 10px 0px 0px;
    line-height: 1;
}
.model-social li a {
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.model-social li a:before {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    font-size: 18px;
}
/* ================= CAROUSEL ================== */
.ombre-carousel {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.ombre-carousel h5 {
    margin: 0px 0px 20px 0px;
    padding: 35px 35px 0px 35px;
}
.ombre-carousel h5 a {
    position: relative;
}
.ombre-carousel h5 a:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0%;
    right: 100%;
    bottom: -5px;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.ombre-carousel h5 a:hover:before,
.ombre-carousel h5 a:focus:before,
.ombre-carousel h5 a:active:before {
    left: 0;
    right: 0;
}
.ombre-carousel img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.ombre-carousel > figcaption {
    position: relative;
    width: 100%;
    height: 100%;
}
.ombre-carousel > figcaption > p {
    position: relative;
    display: inline-block;
    padding: 0px 35px 35px 35px;
    margin: 0px;
}
.ombre-carousel p {
    margin-bottom: 30px;
}
#model-gallery {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: bottom;
}
#model-gallery2 {
    position: relative;
    display: inline-block;
    margin: 0px 0px -35px 0px;
    vertical-align: bottom;
}
#model-gallery .owl-dots,#model-gallery2 .owl-dots,.grid-carousel .owl-dots {
    margin-top: -80px !important;
    padding-right: 30px !important;
}
.gallery {
    position: relative;
    outline: none !important;
    overflow: hidden;
    display: block;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.gallery img {
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    -webkit-transform: scale(1.0) translateZ(0) translateY(0);
    -moz-transform: scale(1.0) translateZ(0) translateY(0);
    -ms-transform: scale(1.0) translateZ(0) translateY(0);
    transform: scale(1.0) translateZ(0) translateY(0);
    -webkit-backface-visibility: hidden;
}
.gallery:hover img {
    -webkit-transform: scale(1.2) translateZ(0) translateY(5%);
    -moz-transform: scale(1.2) translateZ(0) translateY(5%);
    -ms-transform: scale(1.2) translateZ(0) translateY(5%);
    transform: scale(1.2) translateZ(0) translateY(5%);
}
.gallery:before {
    content: " ";
    position: absolute;
    z-index:2;
    right: 0;
    top: 0;
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    -webkit-transform: translateY(-105%);
    -moz-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    -o-transform: translateY(-105%);
    transform: translateY(-105%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition:all 0.4s linear;
    -moz-transition:all 0.4s linear;
    -o-transition:all 0.4s linear;
    -ms-transition:all 0.4s linear;
    transition:all 0.4s linear;
}
.gallery:after {
    position: absolute;
    text-align: center;
    line-height: 1;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    top: 0px;
    right: 0px;
    font-size: 26px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translateY(-105%) translateX(105%);
    -moz-transform: translateY(-105%) translateX(105%);
    -ms-transform: translateY(-105%) translateX(105%);
    -o-transform: translateY(-105%) translateX(105%);
    transform: translateY(-105%) translateX(105%);
    display:inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition:all 0.4s linear;
    -moz-transition:all 0.4s linear;
    -o-transition:all 0.4s linear;
    -ms-transition:all 0.4s linear;
    transition:all 0.4s linear;
    z-index: 3;
}
.gallery:hover:after,.gallery:hover:before {
    -webkit-transform: translateY(0px) translateX(0px);
    -moz-transform: translateY(0px) translateX(0px);
    -ms-transform: translateY(0px) translateX(0px);
    -o-transform: translateY(0px) translateX(0px);
    transform: translateY(0px) translateX(0px);
}
.gallery.photo:after {
    content:"\f002";
    padding-top:3px;
    padding-right:3px;
}
.gallery.video:after {
    content:"\f144";
    padding-top:4px;
    padding-right:4px;
}
.gallery.link:after {
    content:"\f0c1";
    padding-top:5px;
    padding-right:5px;
}
/* ================= PARTNERS ================== */
#partners .owl-controls {
    display: none;
}
#partners .owl-carousel {
    padding: 0px !important;
}
#partners img {
    opacity:0.3;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
}
#partners img:hover {
    opacity:1;
}
/* ================= ICON BOXES ================== */
.icon-container {
    position: relative;
    text-align: center;
    margin: 0px auto 30px auto;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.icon-container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.icon-container:hover:before,
.icon-container:focus:before,
.icon-container:active:before {
    -webkit-animation-name: ripple-out;
    animation-name: ripple-out;
}
.icon-text {
    text-align: center;
    margin-bottom: 0px;
}
.icon-text h3,.icon-text h4 {
    margin-bottom: 20px;
}
.icon-container a {
    display: block;
    text-indent: -500em;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    position: relative;
    outline: none !important;
    text-decoration: none !important;
}
.icon-container a:before {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 38px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.icon-left,.icon-right {
    position:relative;
}
.icon-left .icon-container {
    position: absolute;
    left:0px;
    top:0px;
    margin: 0px;
}
.icon-right .icon-container {
    position: absolute;
    right:0px;
    top:0px;
    margin: 0px;
}
.icon-left .icon-text {
    padding-left: 110px;
    text-align: left;
}
.icon-right .icon-text {
    padding-right: 110px;
    text-align: right;
}
.icon-left .icon-text h5,.icon-right .icon-text h5 {
    margin-bottom: 20px;
}
.icon-left .icon-text h5.border, .icon-right .icon-text h5.border {
    margin-bottom: 40px;
}
.icon-left .icon-text .button,.icon-right .icon-text .button {
    margin-top: 5px;
}
.icon-left .icon-container,.icon-right .icon-container {
    width: 80px;
    height: 80px;
}
.icon-left .icon-container a,.icon-right .icon-container a {
    width: 80px;
    height: 80px;
    line-height: 80px;
}
.icon-left  .icon-container a:before,.icon-right  .icon-container a:before {
    font-size: 30px;
}
/* ================= ROUNDED LIST ================== */
.rounded-list {
    list-style: none;
    margin: 40px 0px 40px 15px;
    padding: 0px;
    counter-reset: li;
}
.rounded-list ol {
    margin: 0 0 0 40px;
}
.rounded-list li {
    margin-bottom: 30px;
}
.rounded-list > li:last-child {
    margin-bottom: 0px;
}
.rounded-list > li > ol {
    margin-top: 40px;
}
.rounded-list span {
    position: relative;
    display: inline-block;
    padding: 15px 30px 15px 65px;
    margin: 0px;
    font-size: 18px;
}
.rounded-list span:before {
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -20px;
    top: 50%;
    margin-top: -33px;
    height: 56px;
    width: 56px;
    line-height: 53px;
    text-align: center;
    font-weight:700;
    border-radius: 100%;
    font-size: 28px;
}
.rounded-list li ol li span{
    font-size:16px;
    font-weight: normal;
}
/* ================= TESTIMONIALS ================== */
#testimonials {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
}
#testimonials .owl-controls {
    display:none !important;
}
.testimonial-nav {
    position:absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
}
.testimonial-nav-left,.testimonial-nav-right {
    float: left;
    width: 50%;
    font-size: 26px;
    line-height: 1;
    margin-top: 63px;
}
.testimonial-nav-left .fa,.testimonial-nav-right .fa {
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;
}
.testimonial-nav-left .fa:hover,.testimonial-nav-right .fa:hover {
    opacity: 1;
}
.testimonial-nav-right {
    padding-right: 6px;
    text-align: right;
}
.testimonial-nav-left {
    text-align: left;
    padding-left: 8px;
}
.testimonial {
    position: relative;
}
.testimonial .testimonial-right {
    position: relative;
    padding-left: 185px;
}
.testimonial .testimonial-text {
    width: 100%;
    padding: 50px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.testimonial-text:before {
    top: 65px;
    left: -20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-left: 0px;
    z-index: 9;
}
.testimonial .testimonial-text p {
    font-size: 26px;
    margin-bottom: 40px;
    text-align: left;
}
.testimonial .testimonial-text p.testimonial-cite {
    text-align: right;
    display: block;
    margin-top: 30px;
    margin-bottom: 0px;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
}
.testimonial-left {
    position: absolute;
    top:0px;
    left: 0px;
    width: 150px;
    margin: 0px 0px 40px 0px;
    display:inline-block;
    z-index: 9;
}
.testimonial-left img {
    width: 100%;
    max-width: 150px;
    height: auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0px;
    vertical-align: bottom;
}
/* ================= RESPONSIVE IFRAME ================== */
.flex-iframe {
    position:relative;
    padding-bottom:55%;
    height:0;
    overflow:hidden;
}
.flex-iframe.widescreen {
    padding-bottom:37.25%;
}
.flex-iframe.vimeo {
    padding-top:0;
}
.flex-iframe iframe, .flex-iframe object, .flex-iframe embed, .flex-iframe video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    outline:none;
    border:none;
}
.flex-video {
    position:relative;
    overflow: hidden;
}
.flex-video.featured-video {
    margin: 0px;
    padding: 0px;
}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    outline:none;
    border:none;
}
.youtube-preview {
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    -webkit-transform: scale(1.0) translateZ(0) translateY(0);
    -moz-transform: scale(1.0) translateZ(0) translateY(0);
    -ms-transform: scale(1.0) translateZ(0) translateY(0);
    transform: scale(1.0) translateZ(0) translateY(0);
    vertical-align: bottom;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.youtube-preview:hover {
    -webkit-transform: scale(1.2) translateZ(0) translateY(5%);
    -moz-transform: scale(1.2) translateZ(0) translateY(5%);
    -ms-transform: scale(1.2) translateZ(0) translateY(5%);
    transform: scale(1.2) translateZ(0) translateY(5%);
}
/* ================= FORMS ================== */
.form-box {
    margin-top: 35px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
textarea {
    position: relative;
    width: 100%;
    display: block;
    margin: 0px 0px 30px 0px;
    padding: 15px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    outline: none !important;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus,
input[type="password"]:focus {
    outline: none !important;
    -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
textarea {
    height: 140px;
}
.button {
    line-height: 1;
    padding: 15px 30px;
    display: inline-block;
    margin: 0px;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
    position: relative;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
input[type="submit"] {
    font-size: 16px;
    line-height: 1;
    padding: 15px 30px;
    display: inline-block;
    margin: 0px;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
    position: relative;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    outline: none !important;
}
.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.button:hover:before, .button:focus:before, .button:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.arrow-button {
    line-height: 1;
    display: inline-block;
    width: 100%;
    margin: 0px auto;
    text-align: left;
    padding: 20px 35px;
    font-size: 16px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.arrow-button:after {
    font-family: 'FontAwesome';
    content: "\f101";
    speak: none;
    text-indent: 0em;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 24px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.arrow-button:hover:after, .arrow-button:focus:after, .arrow-button:active:after {
    -webkit-animation-name: icon-wobble-horizontal;
    animation-name: icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.arrow-button span.fa {
    margin: 0px;
    float: right;
}
.searchbox input[type="submit"] {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    height: 50px;
    border: none !important;
}
.searchbox {
    width: 100% !important;
    display: inline-block;
    position: relative;
    margin-bottom: 60px;
}
.searchbox input[type="text"].searchtext {
    width: 75% !important;
    float: left;
    margin: 0px;
    border-right: none !important;
    height: 50px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.searchbox input[type="text"]:focus {
    animation: none !important;
}
.searchbox input[type="submit"] {
    font-family: 'FontAwesome';
    font-size: 20px;
    width: 25% !important;
    float: right;
    position: absolute;
    top: 0;
    margin: 0px;
    padding-left: 0;
    padding-right: 0;
}
/* ================= FLEX IMAGE WITH CAPTION ================== */
.caption-image {
    position:relative;
    margin:40px 0px 40px 0px;
}
.caption-image img {
    width:100%;
    height:auto;
    vertical-align: bottom;
}
.caption-image figcaption {
    display: inline-block;
    width:100%;
    text-align:center;
    line-height: 1;
    padding: 0px;
}
.caption-image figcaption p.caption-title {
    line-height: 1;
    padding: 20px;
    font-size: 18px;
    display: block;
}
.caption-image figcaption blockquote {
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: left;
}
/* ================= OMBRE TABLE ================== */
.ombre-table {
    list-style: none;
    padding: 0;
    margin: 0px 0px 20px 0px;
    vertical-align: bottom;
    display: inline-block;
}
.ombre-table li {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 10px;
    word-spacing: 0.1em;
    line-height:1.6;
    font-size: 18px;
}
.ombre-table li:first-child {
    margin-top: -5px;
    padding-top: 0px;
}
.ombre-table-left {
    float: left;
    display: inline-block;
    padding-bottom: 12px;
}
.ombre-table-right {
    float: right;
    display: inline-block;
    padding-bottom: 12px;
}
/* ================= EXPERIENCE ================== */
.experience-box {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}
.experience-box:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: none !important;
}
.experience-title h5 {
    margin-bottom: 10px;
}
.experience-title p {
    margin-bottom: 30px;
    line-height: 1;
    font-size: 20px;
}
.experience-video {
    margin-bottom: 60px !important;
}
/* ================= TOOLTIPS ================== */
.tooltipster-dark .tooltipster-content,.tooltipster-light .tooltipster-content,.tooltipster-pink .tooltipster-content {
	font-size: 16px;
	line-height: 1;
	padding: 12px 15px;
	overflow: hidden;
}
.tooltipster-gototop .tooltipster-content {
	font-size: 16px;
	line-height: 50px;
    height: 50px;
	padding: 0px 25px;
	overflow: hidden;
}
/* ================= GOOGLE MAP PIN ================== */
.pin {
    width: 60px;
    height: 90px;
    margin: -60px 0 0 -30px;
}
.pin:after {
    font-family: 'FontAwesome';
    content: "\f041";
    speak: none;
    text-align: center;
    text-indent: 0em;
    font-size: 60px;
    line-height: 60px;
    margin: 0px 0px 0px 13px;
    position: absolute;
    top:0px;
    left:0px;
}
.pulse {
  background: rgba(0,0,0,0.3);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 15px 0px 0px -5px;
  -webkit-transform: rotateX(55deg);
  -moz-transform: rotateX(55deg);
  -o-transform: rotateX(55deg);
  -ms-transform: rotateX(55deg);
  transform: rotateX(55deg);
  z-index: 9;
}
.pulse:after {
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -15px 0 0 -15px;
  -webkit-animation: pulsate 1s ease-out;
  -moz-animation: pulsate 1s ease-out;
  -o-animation: pulsate 1s ease-out;
  -ms-animation: pulsate 1s ease-out;
  animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.3);
}
/* ================= BLOG ================== */
.grid-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
}
.grid-container .grid-img {
    position: relative;
    overflow: hidden;
}
.grid-container .grid-img > a {
    -webkit-transform: scale(1.0) translateZ(0);
    -moz-transform: scale(1.0) translateZ(0);
    -ms-transform: scale(1.0) translateZ(0);
    transform: scale(1.0) translateZ(0);
    -webkit-backface-visibility: hidden;
}
.grid-container .grid-img img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    z-index: 99999;
}
.grid-carousel {
    margin-bottom: -5px;
}
.grid-content {
    position: relative;
    padding: 40px;
    margin: 0px;
    z-index: 9;
    display: block;
}
.grid-container.grid-small .grid-content {
    padding: 30px;
}
.grid-content h4,.grid-content h5 {
    margin: 0px 0px 25px 0px;
}
.grid-content h4 a,.grid-content h5 a {
    position: relative;
    padding-bottom: 5px;
}
.grid-content h4 a:before,.grid-content h5 a:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0%;
    right: 100%;
    bottom: -3px;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.grid-content h4 a:hover:before,
.grid-content h4 a:focus:before,
.grid-content h4 a:active:before,
.grid-content h5 a:hover:before,
.grid-content h5 a:focus:before,
.grid-content h5 a:active:before{
    left: 0;
    right: 0;
}
.grid-content h6 {
    margin: 0px;
}
.grid-container .postdate {
    line-height: 1;
    padding: 0px 0px 0px 25px;
    position: relative;
    word-spacing: inherit;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
}
.grid-container .postdate:before {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    text-align: center;
    content: "\f133";
	position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out; 
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    z-index: 1;
    display: inline-block;
    margin: 0px;
}
.grid-content.grid-quote:after {
    font-family: 'FontAwesome';
    content: "\f10e";
    speak: none;
    text-indent: 0em;
    text-align: center;
    font-style: normal;
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 40px;
}
.grid-content.grid-quote h4 {
    line-height: 1.5;
    margin: 30px 0px 20px 0px;
}
.grid-content.grid-quote .postdate {
    margin-top: 0px;
}
.grid-content.grid-quote p.grid-quote-cite {
    display: block;
    text-align: right;
    margin: 0px;
    line-height: 1;
}
.grid-container .arrow-button {
    padding: 25px 40px;
    font-size: 18px;
}
.grid-container .arrow-button:after {
    top: 22px;
    right: 40px;
}
.blogpager {
    position:relative;
    display: inline-block;
    vertical-align:bottom;
    margin: 0px;
}
.blogpager .fa {
    font-size: 12px;
    line-height: 16px;
    vertical-align:bottom;
}
.blogpager .button {
    margin: 0px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}
.blogpager .previous,.blogpager .next {
    float:left;
    margin-bottom: 1px;
}
.blogpager .previous {
    margin-right: 1px;
}
.blogpager .previous .fa {
    margin-right:5px;
}
.blogpager .next .fa {
    margin-left: 5px;
}
.blogpager .next .button:before {
    -webkit-transform: scaleY(1) scaleX(0);
    transform: scaleY(1) scaleX(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.blogpager .next .button:hover:before, .blogpager .next .button:focus:before, .blogpager .next .button:active:before {
  -webkit-transform: scaleY(1) scaleX(1);
  transform: scaleY(1) scaleX(1);
}
.blogpager .previous .button:before {
    -webkit-transform: scaleY(1) scaleX(0);
    transform: scaleY(1) scaleX(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.blogpager .previous .button:hover:before, .blogpager .previous .button:focus:before, .blogpager .previous .button:active:before {
  -webkit-transform: scaleY(1) scaleX(1);
  transform: scaleY(1) scaleX(1);
}
/* ================= COMMENTS ================== */
.comments_content {
    padding:35px 40px;
    position:relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.comments_content:before {
    top: -20px;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 10px;
    margin-left: 0px;
    z-index: 9;
}
.comments_content p {
    margin-bottom:0px !important;
}
.reply {
    position: relative;
    padding-left:40px;
}
.reply:before {
    font-family: 'FontAwesome';
    content:"\f122";
    speak: none;
    text-indent: 0em;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 5px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    margin-top: -3px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.meta {
    margin-bottom:20px !important;
}
/* ================= SIDEBAR ================== */
.sidebar-box {
    position: relative;
    display: block;
    margin-bottom: 60px;
}
.sidebar-box:last-child {
    margin-bottom: 0px;
    border:none;
}
.sidebar-list li a {
    display: block;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
}
.sidebar-list {
    list-style: none;
    padding: 15px 0px 0px 0px;
    margin: 0;
    vertical-align: bottom;
}
.sidebar-list li {
    position: relative;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.sidebar-list li:after {
    font-family: 'FontAwesome';
    content: "\f105";
    speak: none;
    text-indent: 0em;
    text-align: center;
    position: absolute;
    top: 1px;
    right: 0px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.sidebar-list li:hover:after, .sidebar-list li:focus:after, .sidebar-list li:active:after {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.sidebar-list li a:hover {
    text-decoration: none;
}
.sidebar-posts-img {
    position: absolute;
    left: 0px;
    top:0px;
    width: 95px;
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    -ms-transition: border 0.2s ease-in-out;
}
.sidebar-posts {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
}
.sidebar-posts li {
    position: relative;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 95px;
    float: left;
    width: 100%;
    min-height: 95px;
}
.sidebar-posts li:last-child {
    margin-bottom: 0px;
}
.sidebar-posts li img {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
}
.sidebar-post-title {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.sidebar-post-title span {
    display: inline-block;
    padding: 8px 20px 8px 15px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
.sidebar-post-date {
    margin: 0px;
    float: left;
    font-size: 14px;
    padding: 5px 15px;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
}
.sidebar-posts li a:hover .sidebar-post-date {
    opacity: 1;
}
/* ================= FLICKR FEED ================== */
 .flickr-box {
    margin: 0px 0px -5px 0px;
    padding: 0px;
    overflow: hidden;
    width: calc(100% + 5px);
    position: relative;
}
.flickr-box li {
    list-style:none;
    float:left;
    padding:0px 5px 5px 0px;
    width: 25%;
    background-image:none !important;
    display: inline-block;
}
.flickr-box li:last-child {
    margin-right:0px;
}
.flickr-box li {
    border:none !important;
}
.flickr-box li img {
    display:block;
    -webkit-transition:border 0.2s ease-in-out;
    -moz-transition:border 0.2s ease-in-out;
    -o-transition:border 0.2s ease-in-out;
    transition:border 0.2s ease-in-out;
    width: 100%;
    height: auto;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}
/* ================= HORIZONTAL MENU ================== */
.horizontal-menu {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
    margin-bottom: 19px;
}
.horizontal-menu.more-margin {
    margin-bottom: 30px;
}
.horizontal-menu li {
    float:left;
    padding: 20px 30px;
    font-size: 18px;
    margin: 0px 1px 1px 0px;
    line-height: 1;
    display: inline-block;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    opacity: 1;
}
.horizontal-menu li.show-menu {
    opacity: 1 !important;
}
.horizontal-menu li.hide-menu {
    opacity: 0 !important;
}
.horizontal-menu li.show-menu.active,.horizontal-menu li.active {
    opacity: 0.7 !important;
}
.horizontal-menu li.hide-menu.active {
    opacity: 0 !important;
}
.horizontal-menu li a {
    position: relative;
    display: block;
}
.horizontal-menu li a:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0%;
    right: 100%;
    bottom: -5px;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.horizontal-menu li a:hover:before,
.horizontal-menu li a:focus:before,
.horizontal-menu li a:active:before {
    left: 0;
    right: 0;
}
#horizontal-menu-title {
    cursor: pointer;
    padding-left: 50px;
    position: relative;
    z-index: 9;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
}
#horizontal-menu-title:before {
    font-family: 'FontAwesome';
    content: "\f0c9";
    speak: none;
    text-indent: 0em;
    text-align: center;
    font-style: normal;
    position: absolute;
    top: 20px;
    left: 28px;
    -webkit-backface-visibility: hidden;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    display: inline-block;
}
#horizontal-menu-title:hover:before {
    content: "\f00d";
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#horizontal-menu-title.horizontal-menu-animate:before {
    content: "\f00d";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* ================= TABS ================== */
ul.resp-tabs-list {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
}
.resp-tabs-list li {
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    margin: 0px;
    list-style: none;
    cursor: pointer;
    float: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-top:3px solid transparent;
}
.resp-tabs-container {
    padding: 0px;
    clear: left;
    overflow: hidden;
}
.resp-tab-content img{
    max-width: 100%;
    height: auto;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}
.resp-tab-content {
    display: none;
    border: none;
    padding: 40px;
}
/*-----------Vertical tabs-----------*/
 .resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
    border-bottom: none;
}
.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 20px !important;
    margin: 0;
    cursor: pointer;
    float: none;
    border-top: none !important;
}
.resp-vtabs .resp-tabs-container {
    padding: 0px;
    float: left;
    width: 70%;
    clear: none;
}
.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    padding: 20px !important;
    border-top: none !important;
}
h2.resp-tab-active {
    margin-bottom: 0px !important;
    padding: 20px !important;
}
h2.resp-tab-active span.resp-arrow {
    border: none;
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
}
/*-----------Accordion styles-----------*/
h2.resp-accordion {
    cursor: pointer;
    display: none;
    font-size: 18px;
    margin: 0px;
    padding: 20px;
}
.resp-easy-accordion h2.resp-accordion {
    display: block;
}
.resp-jfit {
    width: 100%;
    margin: 0px;
}
.resp-tab-content-active {
    display: block;
}
/* ================= ACCORDION  ================== */
#accordion-container {
	padding: 0px;
	margin: 0px;
	width: 100%;
	position: relative;
}
.accordion-header {
    position: relative;
	overflow: hidden;
	margin: 0px;
	padding: 20px 25px 20px 0px;
	cursor: pointer;
    -webkit-transition:color 0.2s ease-in-out;
    -moz-transition:color 0.2s ease-in-out;
    -o-transition:color 0.2s ease-in-out;
    -ms-transition:color 0.2s ease-in-out;
    transition:color 0.2s ease-in-out;
    font-size: 18px;
}
.accordion-header:after {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    text-align: center;
    content: "\f078";
	position: absolute;
    top:19px;
    right: 0px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 22px;
    z-index: 1;
    display: inline-block;
    margin: 0px;
}
.accordion-header.active-header:after {
    content:"\f077";
}
.accordion-content {
	display: none;
	padding: 30px 0px 30px 0px;
	width: 100%;
}
/* ================= FOOTER ================== */
#footer {
    height: auto;
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    padding: 0px;
    position: relative;
    display:block;
    overflow: hidden;
    vertical-align: bottom;
}
#footer-widgets {
    padding: 30px 60px;
}
#footer-widgets p {
    margin-bottom: 20px;
}
#footer-widgets p:last-child {
    margin-bottom: 0px;
}
#footer-widgets p,
.footer-widget .footer-list li a {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
}
.footer-widget .footer-list {
    list-style: none;
    padding: 15px 0px 0px 0px;
    margin: 0;
    vertical-align: bottom;
}
.footer-widget .footer-list li {
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}
#footer-widgets > .footer-widget .footer-list li:last-child {
    margin-bottom: 0px;
}
.footer-widget .footer-list li a:hover {
    text-decoration: none;
}
.footer-widget .footer-list li:after {
    font-family: 'FontAwesome';
    content: "\f105";
    speak: none;
    text-indent: 0em;
    text-align: center;
    position: absolute;
    top: 1px;
    right: 0px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.footer-widget .footer-list li:hover:after, .footer-widget .footer-list li:focus:after, .footer-widget .footer-list li:active:after {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
#footer .footer-info {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 20px 60px;
    vertical-align: bottom;
    margin: 0;
}
#footer .credits {
    float: left;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 12px;
}
.tags-container {
    position: relative;
    display: inline-block;
}
.tags {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 7px 10px 7px 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
.tags:hover {
    text-decoration: none;
}
#back-to-top {
    position: absolute;
    right: 60px;
    top: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    vertical-align: bottom;
    z-index: 2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#back-to-top:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#back-to-top:hover:after,
#back-to-top:focus:after,
#back-to-top:active:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
#back-to-top:before {
    font-family: 'FontAwesome';
    content: "\f077";
    speak: none;
    text-indent: 0em;
    text-align: center;
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}